* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

/* i cant belive how difficult this was for me */

main {
    min-height: 100vh;
    display: grid;
    padding: 6.15% 7.76% 6.35% 7.76%; 
    background-color: #F2EDE6;
}

textarea {
    resize: none;
}

/* this one contains [.contact__image-container] and [.contact__form-section] */
.contact {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 5fr;
    gap: 9.37%;
}

/* this one contains [.contact__image] */
.contact__image-container {
    height: 100%;
}

.contact__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 25%;
    border-bottom-left-radius: 25%;
}

/* this one contains [.contact__header] and [.contact__content] */
.contact__form-section {
    display: grid;
    grid-template-rows: 1fr 4fr;
    gap: 7.97%;
}

/* this one contains [.contact__title] */
.contact__header {
    align-self: end;
}
.contact__title {
    font-family: "Playfair Display", serif;
    font-size: 48px;
    line-height: 120%;
    color: #00054B;
}


/* this one contains [.contact__form] and [.contact__info] */
.contact__content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 18%;
}

/* this one contains [.contact__input] and [.contact__submit] */
.contact__form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.contact__input {
    background-color: #F2EDE6;
    border: none;
    border-bottom: 2px solid #00024B;
    width: 90%;
    justify-self: center;
    color: rgba(0, 2, 75, 0.5);
}

.contact__submit {
    height: 70%;
    width: 82%;
    justify-self: center;
    align-self: end;
    border-radius: 48px;
    background-color: #00054B;
    color: white;
    border: none;
}


.contact__info {
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    align-items: center;
}



.contact__info-title {
    color: #00054B;
    font-weight: 700;
}

.contact__info-text {
    color: #00054B;
    font-weight: 400;
}



.contact__social-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-self: end;
}

.contact__social-link {
    display: grid;
    align-items: end;
    justify-content: start;
}

.contact__social-icon {
    height: 30px;
    justify-self: center;
}
